﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="VehicalAccidentDetails.aspx.cs" Inherits="OBDTrackerAdminPortal.Views.VehicalAccidentDetails"  Async="true" EnableEventValidation="false"  %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OBD</title>
    <!-- Core CSS - Include with every page -->
    <link href="../assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/main-style.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="../assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <form id="Form1" runat="server">
        <!--  wrapper -->
        <div id="wrapper">
            <!-- navbar top -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
                <!-- navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img width="150" src="../assets/img/step0002.png" alt="" />
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- navbar-top-links -->
                <ul class="nav navbar-top-links navbar-right">
                    <!-- main dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                             <span class="top-label label label-warning" runat="server" id="spnWarningCounts" ></span> <i class="fa fa-tasks fa-3x"></i>
                        </a>
                        <!-- dropdown tasks -->
                        <ul class="dropdown-menu dropdown-tasks">
                            <asp:Repeater ID="rptWarnings" runat="server" >
                                <HeaderTemplate>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th><strong><span class="label label-warning">Warnings</span></strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <tr class="odd gradeX">
                                        <td class="fa"><%# Eval("Vehical") %>&nbsp;&nbsp(<%# Eval("BelongsTo") %>)</td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td><span class="label label-warning">~</span><span class="text-muted small"><%# Eval("Message1") %></span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="label label-warning">~</span><span class="text-muted small"><%# Eval("Message2") %></span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="label label-warning">~</span><span class="text-muted small"><%# Eval("Message3") %></span></td>
                                                </tr>
                                            </table>
                                        </td>

                                    </tr>
                                </ItemTemplate>
                                <FooterTemplate>
                                    </tbody>
    </table>
                                </FooterTemplate>
                            </asp:Repeater>
                        </ul>
                        <!-- end dropdown-tasks -->
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-3x"></i>
                        </a>
                        <!-- dropdown user-->
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="Login.aspx"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                            </li>
                        </ul>
                        <!-- end dropdown-user -->
                    </li>
                    <!-- end main dropdown -->
                </ul>

                <!-- end navbar-top-links -->

            </nav>
            <!-- end navbar top -->

            <!-- navbar side -->
            <nav class="navbar-default navbar-static-side" role="navigation">
                <!-- sidebar-collapse -->
                <div class="sidebar-collapse">
                    <!-- side-menu -->
                    <ul class="nav" id="side-menu">
                        <li>
                            <!-- user image section-->
                            <div class="user-section">
                                <div class="user-section-inner">
                                    <img src="../assets/img/user.jpg" alt="">
                                </div>
                                <div class="user-info">
                                    <div>SHIVA <strong>PRAKASH</strong></div>
                                    <div class="user-text-online">
                                        <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                    </div>
                                </div>
                            </div>
                            <!--end user image section-->
                        </li>
                        <li class="sidebar-search">
                            <!-- search section-->
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!--end search section-->
                        </li>
                       <li  >
                            <a href="../DashBoard.aspx"><i class="fa fa-table fa-fw"></i>Dashboard</a>
                        </li>
                         <li  class="selected">
                            <a href="#"><i class="fa fa-table fa-fw"></i>Accident</a>
                        </li>
                        <li>
                            <a href="#" id="NotImplemented"><i class="fa fa-bar-chart-o fa-fw"></i>Charts<span class="fa arrow"></span></a>
     
                        </li>
                    </ul>
                    <!-- end side-menu -->
                </div>
                <!-- end sidebar-collapse -->
            </nav>
            <!-- end navbar side -->
            <!--  page-wrapper -->
            <div id="page-wrapper">


                <div class="row">
                    <!--  page header -->
                    <div class="col-lg-12">
                        <h1 class="page-header">Tables</h1>
                    </div>
                    <!-- end  page header -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Advanced Tables
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">

                                    <asp:Repeater ID="rptAccidentDetails" runat="server" OnItemDataBound="rptAccidentDetails_ItemCommand">
                                        <HeaderTemplate>
                                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <tr>

                                                        <th>Travel Name</th>
                                                         <th>Vehical</th>
                                                         <th>Vehical ID</th>
                                                        <th>Contact No.</th>
                                                        <th>Email</th>   
                                                        <th>Location</th>
                                                    </tr>
                                                    <tbody>
                                        </HeaderTemplate>  
                                        <ItemTemplate>
                                            <tr class="odd gradeX">
                                                <td><asp:Label ID="lblOwner" runat="server" Text=""></asp:Label> </td>
                                                <td class="center"><%# Eval("VehicalName") %></td>
                                                <td class="center"><%# Eval("Id") %></td>
                                                <td><asp:Label ID="lblPhoneNo" runat="server" Text=""></asp:Label></td>
                                                <td><asp:Label ID="lblEmail" runat="server" Text=""></asp:Label></td>
                                                <td><asp:ImageButton ID="imgBtnShowMap" Height="30" Width="30" ImageUrl="~/assets/img/google-maps-icon.png" OnClick="imgBtnShowMap_Click" runat="server" /> </td>
                                                 <asp:HiddenField ID="hdnOwnerID" Value='<%# DataBinder.Eval(Container.DataItem, "VehicalownerID")%>' runat="server" />
                                                
                                            </tr>
                                        </ItemTemplate>
                                        <FooterTemplate>
                                            </tbody>
    </table>
                                        </FooterTemplate>
                                    </asp:Repeater>
                                </div>

                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>

            </div>
                 <div  title="Basic modal dialog" style="display:none;" id="popupdiv"  class="panel-body"   >

                  </div>
            <!-- end wrapper -->

            <!-- Core Scripts - Include with every page -->
            <script src="../assets/plugins/jquery-1.10.2.js"></script>
            <script src="../assets/plugins/bootstrap/bootstrap.min.js"></script>
            <script src="../assets/plugins/metisMenu/jquery.metisMenu.js"></script>
            <script src="../assets/plugins/pace/pace.js"></script>
            <script src="../assets/scripts/siminta.js"></script>
            <!-- Page-Level Plugin Scripts-->
            <script src="../assets/plugins/dataTables/jquery.dataTables.js"></script>
            <script src="../assets/plugins/dataTables/dataTables.bootstrap.js"></script>
            
            <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
            <script>
                $(document).ready(function () {
                    $('#dataTables-example').dataTable();
                });

                function showmodalpopup() {
                    $("#popupdiv").dialog({
                        title: "Accident Location",
                        width: 500,
                        height: 450,
                        modal: true,
                        open: function () {
                            $('.ui-widget-overlay').css('background', 'green');
                        },
                        close: function () {
                            $('.ui-widget-overlay').css('background', 'white');
                        },
                        buttons: {
                            Close: function () {
                                $(this).dialog('close');
                            }
                        }
                    });
                };

                var map;
                function LoadGoogleMAP() {
                    var SetmapOptions = {
                        zoom: 10,
                        center: new google.maps.LatLng(12.9667, 77.5667),
                        marker: true,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    map = new google.maps.Map(document.getElementById('popupdiv'),
              SetmapOptions);
                }

                google.maps.event.addDomListener(window, 'load', LoadGoogleMAP);
                var image = '<%= Page.ResolveUrl("~/assets/img/logo_zeal.png") %>';
                var myLatLng = new google.maps.LatLng(12.9667, 77.5667);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    icon: image
                });
                bounds.extend(marker.position);
            </script>
    </form>
</body>

</html>
